@import '../../variables';

.delete_account {
  margin: $space;
  padding: 0 $space $space;
  background-color: $surface;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__action {
    width: 15%;
    text-align: right;
    margin-bottom: $space;
  }
  @media only screen and (max-device-width: $smartphone-breakpoint) {
    &__action {
      width: 100%;
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  &__description {
    width: 83%;
    margin-bottom: $space;
  }
  @media only screen and (max-device-width: $smartphone-breakpoint) {
    &__description {
      width: 100%;
    }
  }

  &__infobox {
    &-success {
      color: $success;
      border: 1px solid $success;
      padding: 1rem;
    }

    &-error {
      color: $error;
      border: 1px solid $error;
      padding: 1rem;
    }
  }
}
