@import 'variables';
@import 'base';
@import 'forms';
@import 'buttons';

header {
  height: 48px;
  background-color: $primary;

  .logo {
    padding: 1.2rem 15px;
    color: $white;
    text-decoration: none;
    display: inline-block;
    outline: none;
  }

  .logo:hover {
    color: $gray-light;
  }
}

main {
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-device-width: $smartphone-breakpoint) {
  main {
    padding: $space;
  }
}
