$primary: #5243c2;
$primary-light: #886ff6;
$primary-dark: #091a91;
$secondary: #fed5cf;
$secondary-light: #ffffff;
$secondary-dark: #caa49e;

$error: #e0245e;
$success: #018786;
$background: #fff;
$surface: #f8f9fa;
$black: #333333;
$white: #ffffff;
$gray: #9e9e9e;
$gray-light: #eeeeee;
$gray-dark: #616161;

$font-size-big: 1.8rem;
$font-size-normal: 1.6rem;
$font-size-small: 1.4rem;
$space: 2rem;

$smartphone-breakpoint: 768px;
