@import '../../variables';

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $space;

  &__month {
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
      font-size: $font-size-big;
      margin-bottom: 1rem;
      border-bottom: 1px solid $gray;
      width: 100%;
      height: 3.3rem;
    }

    &__day {
      width: 14.28%;
      height: 5rem;
      text-align: center;
      padding: 1rem;
    }

    .gray {
      background-color: lighten($gray-light, 4%);
    }

    .today {
      border: 0.2rem solid $primary;
    }
  }
}
