@import '../../variables';

.dashboard {
  width: 100%;
  padding: $space;
  text-align: center;

  &__calendar {
    margin-top: $space;
    padding-top: $space;
    background-color: $surface;
    width: 100%;

    .active {
      cursor: pointer;
    }

    &__actions {
      text-align: right;
      padding: 1rem;
      background-color: $gray-light;
      border-bottom: 0.1rem solid #dfdfdf;
      margin-bottom: $space;

      button {
        margin: 0;
      }
    }

    &__detail {
      &-hidden {
        display: none;
      }
    }

    &__data {
      padding: 0 $space;
    }
  }

  &__prediction {
    background-color: $surface;
    width: 100%;
    padding: $space;

    button {
      margin: 0;
    }

    .period {
      border-color: $secondary;
    }

    .upcoming-period {
      border-color: $secondary-dark;
    }

    .upcoming-ovulation {
      border-color: $primary-dark;
    }

    .ovulation {
      border-color: $primary-light;

      .dashboard__prediction__gauge__info {
        margin-top: 9.5rem;
      }
    }

    &__gauge {
      height: 25rem;
      width: 25rem;
      margin: auto;
      border: 0.5rem solid;
      border-radius: 12.5rem;

      &__meter {
        &-bottom {
          font-size: 6rem;
          padding: 0;
          margin: 0 0 0 3.8rem;
        }

        &-top {
          font-size: 6rem;
          padding: 0;
          margin: 6rem 0 0 3.8rem;
        }

        &__unit {
          font-size: $font-size-normal;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
