<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%gray(%date{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{32}) %msg%n</pattern>
        </layout>
    </appender>

    <root level="${log_level:-info}">
        <appender-ref ref="${log_appender:-consoleAppender}"/>
    </root>
</configuration>
