@import '../../variables';

.register {
  width: 100%;
  height: calc(100vh - 48px);
  display: flex;

  &__information {
    width: 50%;
    height: 100%;
    padding: 15rem;
    background-color: $surface;
    color: $black;
  }

  @media only screen and (max-device-width: $smartphone-breakpoint) {
    &__information {
      display: none;
    }
  }

  &__register {
    width: 50%;
    height: 100%;
    padding: 15rem $space;
    background-color: $white;

    &__form {
      width: 38rem;
      margin: auto;
    }
  }

  @media only screen and (max-device-width: $smartphone-breakpoint) {
    &__register {
      width: 100%;
      padding: 0;

      &__form {
        width: 100%;
        padding: 0;
      }
    }
  }
}

@media only screen and (max-device-width: $smartphone-breakpoint) {
  .register {
    height: auto;
  }
}
